*{
  align-self: start;
  background-color: rgb(117, 214, 154);
}
.button {
  border: none;
  color: rgb(26, 13, 16);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #e4237d;
}
#pic{
   position: absolute;
    display: none;
}
img.gallery {
  float: left;
}
